<h1>Listing Details</h1>

<h2><%= @listing.title %></h2>
<br>
type: <%= @listing.sport_type %>
<br>
price: <%= @listing.hourly_price %>
<br>
desc: <%= @listing.description %>
<br>
<% @listing.bookings.each do |booking| %>
  <% title = User.find(booking.user_id)%>
  <h2><%= link_to title, listing_booking_path(booking)%></h2>
<% end %>

<%= cl_image_tag(@listing.photo.key) %>
<div>
<%= link_to "Return to Listings", listings_path, class: "btn btn-success" %>
<%= link_to "Delete", listing_path(@listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this listing?"}, class: 'btn btn-danger' %>
<%= link_to "Book for rent", new_listing_booking_path(@listing), class: 'btn btn-primary' %>
</div>
